*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{

    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;

}

.header{

    height: 220px;
    background-color: rgb(226, 224, 224);
    padding: 40px 20px;
    display: flex;
    
}



.text2{

    color: grey;
    margin-top: 8px;
}

input{

    height: 50px;
    width: 360px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 15px;
}

.cart{

    width: 250px;
    height: 150px;
    padding: 0;
    margin-left: 600px;
}

.short{

    display: flex;
    height: 70px;
    padding: 15px 0;
    align-items: center;
}



.select1{

    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0 10px;
    font-size: 15px;
    margin-left: 850px;
    
    
}

.select2{

    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0 10px;
    font-size: 15px;
    margin-left: 10px;
    
    
}

.row{

    display: flex;
    flex-wrap: wrap;
    
}

.col{

    width: 25%;
    padding: 10px 10px;
}

.card{

    height: 380px;
    border: 2px solid rgb(226, 226, 226);
    padding: 15px;
    border-radius: 5px;
    
}

.product-img{
    
    height: 150px;
    margin-left: 80px;
    margin-top: 36px;
    
}

img{
     
    height: 130px;
}

.fa-solid{

    color: gold;
    margin-top: 15px;
}
.text{

    margin-top: 36px;
}

.bottom{

    display: flex;
}

button{

    padding: 10px;
    width: 80px;
    background-color: rgb(32, 194, 32);
    font-weight: bold;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-left: 130px;
}

.price1{

    margin-top: 9px;
}

del{

    font-size: 12px;
    color: gray;
}

.Product-number{

    font-size: 14px;
}